/* web developer css style */
/* Selector {}
     property : value; */
     body {
        background-color: rgb(225, 227, 227);
     }

     h2 {
        color:red;
     }
   
    p {
        color: black;
    }
